*{
    font-family: 'PT Sans', sans-serif;
}
main{
    align-items: center;
    text-align: left;
    margin-left: 20px;
}
.rate__card{
    align-items: center;
    text-align: center;
    margin-top: 15rem;
}
.rate__card h1{
    margin: 4rem;
    font-size: 1.8rem;
    color: #831F82;
    max-width: auto;
}
a img{
    align-items: center;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 7rem;
}