<main>
    <div class="rate__card">
        <img src="../../../assets/img/logo-drogaria-santa-marta.svg" alt="#" width="400px" style="margin-top: 2rem;">
        <h1>Obrigado pela avaliação!</h1>
    </div>
    <a href="index.html"><img src="../../../assets/img/back.png" alt=""></a>
</main>